

body {
    color: black;
    background: orange;
    margin: 0px;
}

header {
 border-bottom: solid 2px black;
 padding: 20px;
 font-size: 26px;
 color: black;
 font-family: "Chakra Petch", sans-serif;
}
element.style 
    margin: 80px;
section {
    background: orange;
    element.style {
        margin: 80px;
}

section {
    display: flex;
    justify-content: center
    unicode-bidi: isolate;
   
        .chamada-texto {
        margin-right: 5%;
}

img {
    height: 60px;
  }















